@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}
html{
    font-size: 18px;  
}
body{
    background-position: left top, center 0;
    padding: 6rem 0;
    background-color: #ffffff;
    color: #656565;
    background-attachment: scroll fixed;
    background-image: url("/img/overlay.png"), url("/img/bg.jpg");
    background-repeat: repeat, no-repeat;
    background-size: 256px cover;
}

body, button, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}
a {
    text-decoration: none;
    border-bottom: dotted 1px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
p{
    margin: 0 0 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #54c3e1;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
    font-size: 1.75rem;
    font-weight: 300;
}

ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}

/* PAGE WRAPPER */
#wrapper{
    width: 55rem;
    max-width: calc(100% - 6rem);
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0.325rem;
}


/* HEADER */

#header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 1.25rem;
}

#header .logo {
    flex-grow: 0;
    flex-shrink: 1;
    display: block;
    height: inherit;
    line-height: inherit;
    color: #bbbbbb;
    border-bottom: 0;
}

#header nav {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}

#header nav a {
    display: block;
    padding: 0 1.25rem;
    border-bottom: 0;
    outline: 0;
}

#header nav a[href="#menu"] {
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
    background-image: url('/img/menu.svg');
    width: 1.75rem;
    height: 1.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.75rem;
}

/*BANNER SECTION*/
#banner{
    background-color: #454545; 
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    position: relative;
    padding: 5rem 3rem;
}

.image {
    border-radius: 0.325rem;
    border: 0;
    display: inline-block;
    position: relative;
}

#banner .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#banner .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.image[data-position] img {
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image[data-position="center"] img {
    object-position: center;
}


.image.filtered:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 103, 119, 0.5);
    background-image: url("/img/overlay.png");
    background-size: 256px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 1;
    border-radius: inherit;
}


#banner .content {
    padding: 3.5rem 2rem 1.5rem 2rem;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    position: relative;
    width: 30rem;
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(90deg, rgba(84, 195, 225, 0.9), rgba(107, 195, 120, 0.9));
    border-radius: 0.325rem;
    text-align: center;
    z-index: 1;
}

#banner .content h1 {
    margin-bottom: 0.65rem;
    color: #ffffff;
}

#banner .content p {
    margin-bottom: 1.25rem;
}


ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li{
    padding-right: 0;
    display: inline-block;
    padding: 0 1rem 0 0;
    vertical-align: middle;
}

#banner .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
}


/* COMPONENTS */

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    appearance: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0.325rem;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.825rem;
    line-height: 2.825rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

input[type="submit"].wide, input[type="reset"].wide, input[type="button"].wide, button.wide, .button.wide {
    width: 9rem;
}

.icon {
    text-decoration: none;
    position: relative;
    border-bottom: none;
}

.icon.major {
    display: inline-block;
    margin: 0 0 1rem 0;
    text-align: center;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    box-sizing: border-box;
    font-family: 'FontAwesome';
}

.icon.major:before {
    display: block;
    border: solid 1px #d5d5d5;
    color: #54c3e1;
    font-size: 2rem;
    width: 5.25rem;
    height: 5.25rem;
    line-height: 5.25rem;
    border-radius: 5.25rem;
}
/* Individual icons section */
.fa-diamond:before {
    content: "\f3a5";
}

.fa-commenting-o:before {
    content: "\f27b";
}

.fa-save:before, .fa-floppy-o:before {
    content: "\f0c7";
}

.fa-flag-o:before {
    content: "\f11d";
}

/* SECTION*/
section.special, article.special {
    text-align: center;
}

#wrapper > .main {
    padding: 4rem 3rem 2rem 3rem;
}

ul.features {
    display: inline-flex;
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.features li {
    display: block;
    padding-left: 3.25rem;
}

ul.features li h3 {
    color: inherit;
    font-size: 1rem;
}

ul.features li:not(:first-child) .icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3.25rem;
    width: 3.25rem;
    height: 1px;
    background-color: #d5d5d5;
}

/* Highlight Section */

#wrapper > .main.spotlight {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

#wrapper > .main.invert {
    background-color: #454545;
    color: rgba(255, 255, 255, 0.75);
}

#wrapper > .main.accent1 {
    background-color: #54c3e1;
    background-image: linear-gradient(90deg, #54c3e1, #6bc378);
}

#wrapper > .main.spotlight .image {
    position: relative;
    width: 50%;
    border-radius: 0;
}

#wrapper > .main.spotlight .content {
    padding: 5rem 4rem 3rem 4rem;
    width: 50%;
}

#wrapper > .main.spotlight.accent1 .content {
    background-color: #54c3e1;
    background-image: linear-gradient(90deg, #54c3e1, #6bc378);
}

#wrapper > .main.spotlight .content h2 {
    margin-bottom: 0.65rem;
}

#wrapper > .main.invert h1, #wrapper > .main.invert h2, #wrapper > .main.invert h3, #wrapper > .main.invert h4, #wrapper > .main.invert h5, #wrapper > .main.invert h6 {
    color: #ffffff;
}

#wrapper > .main.spotlight .content p {
    margin-bottom: 1.25rem;
}

#wrapper > .main.invert input[type="submit"], #wrapper > .main.invert input[type="reset"], #wrapper > .main.invert input[type="button"], #wrapper > .main.invert button, #wrapper > .main.invert .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
}

#wrapper > .main.invert input[type="submit"]:hover, #wrapper > .main.invert input[type="reset"]:hover, #wrapper > .main.invert input[type="button"]:hover, #wrapper > .main.invert button:hover, #wrapper > .main.invert .button:hover {
    background-color: rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
}

/* SLIDER */
.slider-wrapper {
    position: relative;
    margin: 0 0 2rem calc(-3rem + 1px);
    width: calc(100% + 6rem - 2px);
}

.slider-wrapper .slider {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0.125rem;
}

.slider-wrapper .slider article {
    transition: opacity 0.2s ease-in-out;
    display: inline-block;
    cursor: default;
    width: 25rem;
    max-width: calc(100% - 6rem);
    margin: 0 3rem 0 0;
    opacity: 1;
}

.slider-wrapper .slider article:first-child {
    margin-left: 3rem;
}

.slider-wrapper .slider article.inactive {
    opacity: 0.25;
}

.slider-wrapper .slider article .image {
    user-select: none;
    display: block;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    border-top-left-radius: 0.325rem;
    border-top-right-radius: 0.325rem;
}

.slider-wrapper .slider article .image img {
    display: block;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 0.325rem;
    border-top-right-radius: 0.325rem;
}

.slider-wrapper .slider article .content {
    padding: 1.25rem 1.25rem;
    border: solid 1px;
    border-top: 0;
    border-bottom-left-radius: 0.325rem;
    border-bottom-right-radius: 0.325rem;
    border-color: #d5d5d5;
}

.slider-wrapper .indicators {
    cursor: default;
    margin-top: 2rem;
}

.slider-wrapper .indicators a {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    text-indent: 1.25rem;
    overflow: hidden;
    border: 0;
    outline: 0;
}

.slider-wrapper .indicators a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.625rem;
    height: 0.625rem;
    margin: -0.3125rem 0 0 -0.3125rem;
    border-radius: 0.625rem;
    border: solid 1px;
    border-color: #d5d5d5;
}

.slider-wrapper .indicators a.active:before {
    background-color: #54c3e1;
}
